{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white font-weight-bold my-5">About Page</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur iure id, at minus sequi accusamus. Quisquam reprehenderit architecto fuga porro laboriosam aut vel accusantium, facere quod, nostrum nesciunt fugiat, quaerat voluptatibus esse! Doloribus repellat atque aliquam ullam, rem adipisci sunt at provident perferendis distinctio nam iure autem? Impedit, excepturi odit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea minima veniam amet vel quasi dolorum rem, recusandae aspernatur perferendis delectus error quod voluptate corrupti nemo facere quos sunt cumque? Quidem?</p>
</div>
{% endblock content %}